<h1>Your privacy while using this site</h1>

<h2>You can use this site without identifying yourself</h2>

<p>We aim to make the information on this site available for you to view and use without you having to identify yourself.</p>

<p>We make no effort to identify you when you use this site.</p>

<p>We do not collect or store information about your use of this site.</p>

<p>If this policy changes, we will update this page.</p>


<h2>Links to other websites</h2>

<p>There are links on this website to the FCDO website at https://treaties.fcdo.gov.uk - that site has a different privacy policy.</p>