<%= content_tag( 'h1', 'Colophon' ) %>

<%= content_tag( 'p', "Information scraped and reshaped from the #{link_to( 'Foreign, Commonwealth & Development Office treaty database', 'https://treaties.fcdo.gov.uk/responsive/app/consolidatedSearch/')} by Robert and #{link_to( 'Michael', 'https://twitter.com/fantasticlife')}. This website runs on #{link_to( 'Rails 6.1.4', 'https://rubygems.org/gems/rails/versions/6.1.4' )} and #{link_to( 'Ruby 3.0.3', 'https://www.ruby-lang.org/en/news/2021/11/24/ruby-3-0-3-released/' )} using a #{link_to( 'Postgres 14', 'https://www.postgresql.org/about/news/postgresql-14-released-2318/' )} database. The source code is #{link_to( 'available on GitHub', 'https://github.com/fantasticlife/uk-treaties')}.".html_safe ) %>

<h2>Database schema</h2>
<img id="schema" src="/schema.svg">