<div id="document">
	<%= content_tag( 'h2', 'Treaty document' ) %>
	<% unless document.pdf_link.blank? -%>
		<iframe src=<%= document.pdf_link %>>
		</iframe>
		<%= content_tag( 'p', link_to( 'Get the PDF', document.pdf_link ) ) %>
	<% else -%>
		<p>There is no document in FCDO dataset.</p>
	<% end -%>
</div>