<tr>
	<%= content_tag( 'td', link_to( action_from_party.treaty.title, treaty_show_url( :treaty => action_from_party.treaty ) ) ) %>
	<td>
		<% if action_from_party.action_type -%>
			<%= action_from_party.action_type.label %>
		<% end -%>
	</td>
	<%= content_tag( 'td', action_from_party.action_on ) %>
	<%= content_tag( 'td', action_from_party.effective_on ) %>
</tr>