<%= content_tag( 'h1', @subject.subject ) %>

<%= content_tag( 'h2', 'Treaties' ) %>
<table>
	<%= render :partial => 'treaty/table_header' %>
	<tbody>
		<%= render :partial => 'treaty/treaty', :collection => @subject.treaties %>
	</tbody>
</table>