<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>FcdoTreaties</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    body {max-width:42rem;padding:1rem;margin:1rem auto;font-family:sans-serif;line-height:1.4;}
    a {text-decoration:none;}
    a:hover {text-decoration:underline;}
    h1, h2 {font-weight:normal;}
    </style>
</head>

  <body>
  
  <header>
  <nav>
  <a href="/treaties">treaties</a>
  &middot;
  <a href="/treaty-types">treaty types</a>
  &middot;
  <a href="/parties">parties</a>
  &middot;
  <a href="/subjects">subjects</a>

  </nav>
  </header>
  <main>
    <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
